.project-guide{
  max-width: 800px;
  padding-top: 10%;
}
.split-left {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.split-middle {
  height: 100%;
  width: 68%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.split-right {
  height: 100%;
  width: 7%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.middle{
    left:25%;
    background-color:#ffffff;
}

.left {
  left: 0;
  background-color: #353e49;
}

.right {
  left: 93%;
  background-color: #353e49;
}


.blogName {
  color: #ffffff;
  position: absolute;
  top: 25%;
  left: 50%;
  min-width: 100px;
  transform: translate(-50%, -50%);
  text-align: center;


}
.blogName h1{
    font-size: 2.2em;
    transition: .3s ease;
}

.blogName h1:hover {
    color: lightsalmon;
    cursor: pointer;
}

.menu {
    position: absolute;
    background-color: #272f38;
    top:40%;
    right: 0;
    width: 70%;
    height: 35%;
    border-radius: 10px;
    max-width: 70%;
    min-width: 70%;
    max-height: 35%;
    min-height: 35%;

}

.project-menu {
  transition: .3s ease;

}

ul {
  list-style: none;
  color: #ffffff;
  font-size: larger;
  font-weight: bold;
}

ul li{
  margin-top: 1rem;
}
.menu-item{
  margin-top: 10%;
}

.menu-item a{
  color: inherit;
}

.menu-item a[target=true]{
  color:lightsalmon;
}

.menu-item a:hover{
  color: lightsalmon;
}

.content h1{
  padding-top: 3rem;
  color:black;
  text-align: center;
  font-weight: bolder;
  font-size: 3em;
}


.items-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.item-img:hover{
box-shadow:0 0 2% 1% rgba(0, 140, 186, 0.5);
}
div.container{
text-align: center;
padding:10px 20px;
}

/* 每个项目*/
.project-items{
width:80%;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 10%;
margin-left: 10%;
position: relative;
border-radius: 0.5rem;
}

.project-items:hover .items-img {
z-index: -1;
opacity: 0.2;
}

.project-items:hover  .item-youtube {
opacity: 1;
}

.project-items:hover .item-iamge-gallery{
opacity: 1;
}

/* VIEW Button*/
.text {
background-color: #4CAF50;
color: white;
vertical-align: super;
font-size: 16px;
padding: 16px 32px;
}



/* YOUTUBE 项目*/
.item-youtube, .item-iamge-gallery {
line-height: 1.4em;
font-size: 1.3rem;
font-weight: bold;
text-align: justify;
position: absolute;
z-index:2; 
top: 20%;
padding: 0 2rem 0 2rem;
opacity: 0;
transition: 1s ease 0.1s
}


.blogName h1{
color:white;
}