.header {
  display: flex;
  align-content: flex-start;

  .prefix {
    margin-top: 8rem;
  }

  p {
    max-width: 50rem;
  }
}

.check {
  text-align: center;
  margin-top: 12rem;
  margin-bottom: -2rem;
}

a {
  text-decoration: none;
}

.intro {
  height: 95vh;
  margin-left: 15rem;
  margin-right: 15rem;
  padding-top: 12rem;
  padding-bottom: 5rem;
}
