.split-left {
  width: 15%;
}

.split-middle {
  width: 70%;
}

.split-right {
  width: 15%;
}

.split-left,
.split-middle,
.split-right {
  float: left;
  height: 90vh;
  margin-top: 10rem;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    ),
    url('../assets/sunset.jpg');
}

.projects-layout {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.project-items {
  width: 30rem;
  margin: 5% auto 5% auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  border-radius: 0.5rem;
  font-size: 2rem;

  .items-img {
    border-radius: 10px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .item-img:hover {
    box-shadow: 0 0 2% 1% rgba(0, 140, 186, 0.5);
  }

  /* VIEW Button*/
  .text {
    background-color: #4caf50;
    margin: 1rem auto 0 auto;
    width: 200px;
    color: white;
    border-radius: 5px;
    vertical-align: super;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.5s ease 0.1s;
  }

  .text:hover {
    background-color: rgba(0, 140, 186, 0.5);
    width: 100%;
  }

  .item-desc {
    line-height: 1.4em;
    font-size: 1rem;
    top: 10%;
    font-weight: bold;
    text-align: justify;
    position: absolute;
    z-index: 2;
    padding: 0 4rem 0 2rem;
    opacity: 0;
    transition: 1s ease 0.1s;
  }
}

// transition when hover the project
.project-items:hover .items-img {
  z-index: -1;
  opacity: 0;
}

.project-items:hover .item-desc {
  opacity: 1;
}
