@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.head{
    padding-bottom: 0;
    margin-bottom: 2px;
}

.navbar{
    background-color: white;
}

.nav-link b{
    color: black;
}

.ml-auto .nav-link{
    font-size: 20px;
    font-weight: bold;
}

.ml-auto .nav-link:hover {
    color:black;
}

.g-card {
    margin-left: 60px;
    margin-right: 60px;
    
}

.g-card-image {
    border-radius: .5em;
    width: 300px;
    height: 480px;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.g-card-image:hover {
    cursor: pointer;
}

.g-card-info {
    margin-top: 10px;
    min-height: 100px;
}

.g-card-title {
    font-size: 2rem;
    font-weight: 900;
    margin: 0px;
}

.g-card-subTitle {
    font-size: 1rem;
    font-weight: 700;
    margin:0.5rem 0 0.5rem 0;
}



.social a{
    font-size: 4.5em;
    padding:3rem;
    text-align: center;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram{
   color: #3f729b;
}

.fa-weixin{
    color:#93d034;
}

.fa-github{
    color: black;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-weixin:hover,
.fa-linkedin:hover,
.fa-github:hover {
    transform: scale(1.2,1.2);
}

.fa-facebook,
.fa-github,
.fa-instagram,
.fa-weixin,
.fa-linkedin{
    transition: 0.3s ease;
}

.icons {
    width:100%;
   margin-left: 22rem;
   margin-bottom: 4%;
   margin-top: 4%;
}

.pdf-header {
    position: relative;
    margin-top: 15px;
}

.pdf-header p{
    margin-top: 5px;
    margin-bottom: 2%;
}

.pdf {
 
    margin-left: 10%;
}

.prev{
    margin-right: 20px;
}


.pdf-footer p {
    margin-top: 2%;
}


.about-Button {
    margin-left: 46%;
    margin-bottom: 15px;
}

.body {
    font-family: "Open Sans", sans-serif;
}

.success-msg {
    color: #578773;
    padding: 10px 15px;
}

.err-msg {
    color: #ff6352;
    padding: 10px 15px;
}



/* project site ------------*/

.profile-page, .about-page, .contact-page, .split-middle{
    background-color: #dcdcd3;
    padding-bottom: 30px;
}



/* Footer ------------*/

.page-footer {
    background-color: #353e49;
    color:white;
    position: relative;
}

.footer-copyright {
    background-color:#353e49;
    
}

.footer-contact, .footer-address, .aboutPage-text {
    font-size: small;
    font-weight: 600;
}


.aboutPage-text {
    width:90%;
    font-weight: 600;
    text-align: justify;
}

h4{
    color: lightsalmon;
}